.red-square {
	height: 100px;
	width: 100px;
	background-color: red;
}

#green-circle, .draggable, .shapes {
height: 100px;
width: 100px;
border-radius: 50%;
background-color: green;
}

aside {

}

#shape1 {
	-webkit-clip-path: polygon( 30% 40%, 50% 60%, 60% 40% );
}

#shape2 {

}


#shape3